*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  padding: 133px 30px;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/*.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

.content {
  min-block-size: 534px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 711px 399px;
  column-gap: 30px;
  align-items: end;
}

.result__video-container {
  position: relative;
  block-size: 386px;
  margin-block-end: 16px;
}

.result__video {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}

.search-form {
  display: grid;
  grid-template-columns: 225px 212px 194px;
  column-gap: 40px;
  row-gap: 20px;
  align-items: start;
}

.search-form__fieldset-title {
  margin-block-end: 5px;
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
}

.content__details {
  inline-size: 100%;
  block-size: 100%;
}

.title {
  margin: 0;
  margin-block-end: 26px;
  font-family: 'Oswald', 'Arial', sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  block-size: 298px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.content__list-item:not(:last-child) {
  margin-block-end: 30px;
}

.content__card-link {
  text-decoration: none;
  color: inherit;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-title {
  margin-block-end: 6px;
  font-family: 'Oswald', 'Arial', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-description {
  font-size: 18px;
  line-height: 0.9;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover; 
}