*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  padding: 225px 30px;
  color: #fff;
  font-family: 'Fira Sans Condensed', 'Arial', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.button {
  font-family: 'Fira Sans Condensed', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

.content {
  min-block-size: 534px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 711px 399px;
  column-gap: 30px;
  align-items: end;
}

.result__video-container {
  position: relative;
  block-size: 386px;
  margin-block-end: 16px;
}

.result__video {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}

.search-form {
  display: grid;
  grid-template-columns: 225px 214px 194px;
  column-gap: 40px;
  row-gap: 20px;
  align-items: start;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  margin-block-end: 9px;
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
}

.search-form__label {
  width: fit-content;
  cursor: pointer;
}

.search-form__label-text {
  font-size: 18px;
  line-height: 0.8;
}

.search-form__textfield {
  inline-size: 100%;
  padding: 0;
  padding-block-start: 2.5px;
  padding-block-end: 2.5px;
  padding-inline-end: 12px;
  font-family: 'Fira Sans Condensed', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  background-color: transparent;
  border: none;
  border-block-start: 1px solid #fff;
  border-block-end: 1px solid #fff;
  appearance: none;
}

.search-form__textfield::placeholder {
  font-family: 'Fira Sans Condensed', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield:active {
  border: 1px solid #fff;
}

.search-form__checkbox-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 15px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  padding-block-start: 1px;
  padding-inline-start: 1px;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox:hover + .search-form__label-text,
.search-form__label-text:hover {
  text-decoration: underline;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.search-form__submit-button {
  padding: 7px 73.5px;
  align-self: flex-end;
}

.content__details {
  inline-size: 100%;
  block-size: 100%;
}

.title {
  margin: 0;
  margin-block-end: 22px;
  font-family: 'Oswald', 'Arial', sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  block-size: 298px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: rgb(255 255 255 / 0.3) transparent;
  scrollbar-width: thin;
}

.content__list:focus {
  outline: none;
}

.content__list::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgb(255 255 255 / 0.3);
}

.content__list-item:not(:last-child) {
  margin-block-end: 30px;
}

.content__card-link {
  display: block;
  margin: 2px;
  text-decoration: none;
  color: inherit;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 6px;
}

.content__card-link:active,
.content__card-link_current {
  text-decoration: none;
  background-color: #545050;
}

.content__video-card {
  display: flex;
  align-items: start;
  column-gap: 2px;
}

.content__video-card-description-container {
  padding-block-start: 6px;
  flex-grow: 1;
}

.content__video-card-title {
  margin-block-end: 6px;
  font-family: 'Oswald', 'Arial', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  flex-shrink: 1;
}

.content__video-card-description {
  font-size: 18px;
  line-height: 0.9;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
}

.more-button {
  padding: 6px 144px;
}
